<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Главная</li>
      <li><a href="/checks">Журнал трат</a></li>
      <li><a href="/analiz_category">Анализ по категориям</a></li>
      <li><a href="#">Анализ по месяцам</a></li>
    </ul>
  </div>
  </div>
  <div class="cell large-12">
    <h2>Этот сайт предназначен для подготовки к пересдаче по Руби!</h2>
      <h3>Пусть труды будут вознаграждены! Аминь!</h3>
  </div>
</div>