<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laba_two</title>
  <link rel="stylesheet" href="/assets/css/foundation.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/menu">Стартовая страница</a></li>
      <li><a href="/sort">Сортировка чисел</a></li>
      <li><a href="/double">Дубли чисел</a></li>
      <li><a href="/category">Анализ по категориям</a></li>
      <li><a href="/month">Анализ по месяцам</a></li>
      <li><a href="/magazine">Жкрнал трат</a></li>
    </ul>
  </div>
</div>

<div class="grid-container">
  <div class="large-12 cell">
   <%=yield%>   
  </div>
</div>
  
  <script src="/assets/js/vendor.js"></script>
  <script src="/assets/js/foundation.js"></script>
</body>

</html>