<div class="grid-x grid-margin-x">
  <h3>Учет книг</h3>
  <div class="cell large-12">
    <a class="button expanded" href="/books">Книги</a>
  </div>
  <div class="cell large-12">
    <a class="button expanded" href="/readers">Читатели</a>
  </div>
</div>